body {
  margin: 0px;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: white;
}

span {
  color: red;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li h1 a {
  text-align: center;
  text-shadow: 2px 2px 2px black;
  display: contents;

}

li a:hover {
  background-color: rgb(82, 2, 2);
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 2px black;

}

h2 {
  text-align: left;
}

.title_area {
  background-color: rgb(200, 200, 200);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.title_area h1 {
  color: rgb(190, 187, 187);
}

.title_area h1 span {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(128, 0, 0);
  color: white;
}

.title_area h2 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0;
  text-align: center;
}

.title_area h3 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.title_area p {
  text-align: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: maroon;
}

.navbar li a {
  border-style: double;
  border-color: rgb(41, 14, 14);
  color: white;
  text-decoration: none;
}

.navbar li h1 {
  margin: 0;
  padding: 5px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .section-break {
  margin-top: 50px;
}

.about {
  padding-bottom: 10px;
  margin: 20px;
}

.about h2 {
  text-align: left;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 0px;
  color: maroon;
}

.about p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 0px;
  color: black;
}

.box1 {
  margin: 100px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}

.box2 {
  margin: 20px;
  background-color: rgb(200,200,200);
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(10, 0, 0);
}

.footer {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: rgb(63, 63, 63);
  font-size: small;
}

.footer {
  text-align: center;
  padding: 20px;
}

.footer a {
  margin: 30px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.footer a:hover {
  background-color: rgb(63, 63, 63);
  color: gray;
}

.cylinder-inputs {
  background-color: rgb(200,200,200);
  text-align: left;
  margin: 0px;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.firing_order-inputs {
  background-color: rgb(128, 25, 25);
  color: white;
  text-align: left;
  margin: 0px;
  padding: 20px;
}

.lift-inputs {
  background-color: rgb(200,200,200);
  text-align: left;
  margin: 0px;
  padding: 20px;
}

.duration-inputs {
  background-color: rgb(128, 25, 25);
  color: white;
  text-align: left;
  margin: 0px;
  padding: 20px;
}

.open_close-inputs {
  background-color: rgb(200,200,200);
  text-align: left;
  margin: 0px;
  padding: 20px;
}

.rocker_arm-inputs {
  background-color: rgb(128, 25, 25);
  color: white;
  text-align: left;
  margin: 0px;
  padding: 20px;
  
}

.box2 button {
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(128, 25, 25);
}

.box2 button:hover {
  background-color: rgb(70, 1, 1);
  color: white;
}

.dropdown-style1 {
  background-color: rgb(131, 16, 16);
  padding: 5px 5px 5px 5px;
  border-radius: 8px;
  color: white;
}

.dropdown-style1:hover {
  background-color: rgb(70, 1, 1);
}

.dropdown-style2 {
  background-color: rgb(200, 200, 200);
  padding: 5px 5px 5px 5px;
  border-radius: 8px;
  color: black;
}

.dropdown-style2:hover {
  background-color: rgb(120, 120, 120);
}